* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap; */
    gap: 3rem;
}

.movieStyle {
    border-radius: 10px;
    padding: 10vh;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    background-color: green;
}

.listStyle {
    display: flex;
    gap: 0.5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
}

.noResult {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: Red;
    grid-column: 2;
}